<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="scriptsPath" value="d:\SAVE\DOC\Script\Script_E3\"/>
    <add key="filesPath" value="d:\SAVE\DOC"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>